body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Hero Section */
.hero {
  height: 80vh;
  background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('assets/company.jpg') center/cover no-repeat;
}

.hero h1, .hero p {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}

.navbar-logo {
  height: 42px;          /* professional size */
  width: auto;           /* keeps aspect ratio */
  object-fit: contain;
}

/* HERO SECTION BACKGROUND */
.hero-bg {
  min-height: 80vh;
  background-image:
    linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
    url("assets/mpimachine.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.image-zoom-container {
  width: 100%;
  height: 380px;
  overflow: hidden;
}

.zoom-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.4s ease;
}

.image-zoom-container:hover .zoom-image {
  transform: scale(1.5);
}

.thumb-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #ddd;
  transition: transform 0.3s;
}

.thumb-img:hover {
  transform: scale(1.1);
  border-color: #000;
}


.img-container {
  width: 400px;
  height: 400px;
  border: 1px solid #ddd;
  overflow: hidden;
  position: relative;
  cursor: crosshair;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.zoom-box {
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
  margin-left: 20px;
  display: none;
  background-repeat: no-repeat;
  background-size: 200%;
}
